{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">0.3%",
          "last 2 versions",
          "not Chrome <= 60",
          "not dead",
          "not ie <= 11",
          "not op_mini all",
          "not kaios <= 99",
          "not Baidu <= 99"
        ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
